# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT Configuration
SECRET_KEY=

# SMTP Configuration
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Database Configuration
DATABASE_URL=sqlite:///./attendance.db
